

body{
    height: 100%;
    width: 100%;
    background-color: rgb(233, 231, 231);
    overflow-x: hidden;
}





#conteudo{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px #888;
}


#calc{
    font-family: "Comfortaa", sans-serif;

    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
}


#prob{
    position: relative;
    top: 60px;
    left: 570px;
}






#resultado{
    text-align: center;
    margin: auto;
    padding: 50px;
}












footer{
    padding: 40px;
}






/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #prob{
        visibility: hidden;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
   #prob{
       visibility: hidden;
   }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #prob{
        visibility: hidden;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
}
