
#conteudo{
    height: 100%;
    width: 100%;
    background: rgb(228, 226, 226);
    overflow-x: hidden;
}


#coluna #corpo{
    margin: auto;
    border:1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888;
    background-color: white;
}

header{
    margin-bottom: 30px;
}

.form-group input{
    margin-bottom: 40px;
}

#calc{
    margin-top: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    
}

#corpo h2{
    margin-top: 20px;
    margin-bottom: 30px;
}

#tabelacss{
    margin: auto;
    text-align: center;
    padding: 5px;
}

#populacao, #amostra{
    margin-right: 10px;
}

.form-group label{
    margin-right: 25px;
    cursor: pointer;
}











/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #tabelacss{
        padding:0px;
        font-size: 11px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
   
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
}

/*
input[type='text']{
    padding: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
}

input#variavel{
    border: 1px solid #3cc95b;
}


label{
    cursor: pointer;
}

input[type='button']{
    width: 90%;
    cursor: pointer;
    border: none;
    /*background-color: rgb(112, 108, 108);
    color: white;*/
    /*color:#000;
    background: #62ff84;
    font-weight: bold;
    padding: 12px;
    margin-top: 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 20px;
}

input[type='button']:hover{
    cursor: pointer;
    background: #3cc95b;
    transition: 0.2s;
    color: #ffffff;
}

input#visu{
    margin-left: 30px;
}

select{
    padding: 3px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid gray;
}

table{
    border-collapse: collapse;
    color: black;

}

table td{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;

}


table th{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;

}
*/
footer{
    padding: 20px;
}

/*