body{
    background-color: rgb(233, 231, 231);
    font-family: 'Roboto', sans-serif;
}

.nav-item{
    padding-left: 30px;
    
}

.navbar-nav{
    margin-right: 100px;
}


.verde:hover{
    color: rgb(112, 255, 136) !important;
}

@font-face {
    font-family: "Gameplay";
    src: url("../fontes/Gameplay.woff");
}

.marca{
    font-family: "Gameplay";
    font-size: 30px;
    color: rgb(112, 255, 136);
}

.card:hover{
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1px;
    transition: 0.3s;
}

#conteudo{
    
    margin: 0px 20px 0 20px;
    margin-top: 50px;
}